.two-column-panel {
  padding: 60px 0;

  @include bp(desk) {
    padding: 100px 0;
  }

  &__heading {
    text-align: center;
    color: getcolor("ght-teal");
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }

  &__intro {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto 40px;
    color: getcolor("dark-grey");
  }

  &__columns {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;

    @include bp(lap) {
      flex-direction: row;
      justify-content: space-between;
      gap: 60px;
    }
  }

  &__col {
    flex: 1 1 0;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__pullout {
    max-width: 800px;
    color: getcolor("ght-teal");
    margin: 40px auto 0;
    padding: 20px;
    border-top: 2px solid getcolor("ght-gold");
    border-bottom: 2px solid getcolor("ght-gold");
    font-size: to-rem(18);
    line-height: 1.4;
    text-align: center;
  }
}
