@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans/OpenSans-VariableFont_wdth,wght.ttf")
    format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
}

@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans/OpenSans-VariableFont_wdth,wght.ttf")
    format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans/OpenSans-VariableFont_wdth,wght.ttf")
    format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans/OpenSans-VariableFont_wdth,wght.ttf")
    format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans/OpenSans-VariableFont_wdth,wght.ttf")
    format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
}

.tk-opensans {
  font-family: "opensans", sans-serif;
}
